body{
    margin: 0;
}

#menu{
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    transition-duration: 0.5s;
    transform: translateY(-250px);
}

#menu.show{
    transition-duration: 0.5s;
    transform: translateY(0px);
    box-shadow: 0 40px 40px -40px black;
}

#menu>a{
    background-color: rgb(56, 184, 135);
    font-size: 1.4em;
    color: white;
    padding-left: 50px;
}

#menu>a:hover{
    color: greenyellow;
    transition-duration: 0.5s;
}

.headerContent
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.headerContent span
{
    color: white;
    padding: 10px 30px;
    font-size: 1.4em;
    transition-duration: 0.5s;
}

.headerContent span:hover
{
    color: greenyellow;
    transition-duration: 0.5s;
    transform:scale(1.2);
}

.headerContent span:last-child
{
    color: rgb(56, 184, 135);
    background-color: white;
    border-style: solid;
    border-width:2px;
    border-color: rgb(56, 184, 135);
    font-size: 1em;
}

.headerContent span:last-child:hover
{
    background-color: greenyellow;
    transition-duration: 0.5s;
    transform:scale(1.2);
}

.header
{
    background-color: rgb(90, 207, 143);
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#before-starting{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#before-starting>div{
    margin-top: 4%;
    margin-bottom: 4%;
}

#eco-urb{
    border: 2px solid black;
    width: 60%;
    height: 500px;
}

#bienvenue-wips{
    border: 2px solid rgb(56, 133, 184);
    width: 60%;
    height: 500px;
    margin-left: 350px;
}