.Popup
{
    height: 60%;
    Width: 30%;
    background-color:rgb(127, 250, 171);
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    padding: 0 5%;
    justify-content: space-around;
    border-radius: 25px;
}

.Popup>p
{
    color: white;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.PopupContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.PopupContainer>div>img
{
    width: 80%;
}


.Popup>div>button
{
    color: rgb(56, 184, 135);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    border-color: rgb(56, 184, 135);
    border-radius: 4px;
    border-style: solid;
    padding: 10px 25px;
}

.Popup>div>button:hover
{
    cursor: pointer;
}

